PROFILE_URL=https://m-surprise.com/profile/?id=4967
DIARY_URL=https://diary.m-surprise.com/category/no-75-%e3%81%be%e3%81%93%e3%81%a8/
DISCORD_WEBHOOK_URL=
DISCORD_USERNAME=まことちゃん通知
DISCORD_AVATAR_URL=
TIMEZONE=Asia/Tokyo
FETCH_TIMEOUT_MS=60000
FETCH_RETRY_COUNT=3
DIARY_PAGE_LIMIT=3
NOTIFY_INITIAL_SNAPSHOT=false
NOTIFY_SCHEDULE=true
NOTIFY_PROFILE=true
NOTIFY_PHOTOS=true
NOTIFY_DIARY=true
TEST_NOTIFICATION=false
